<!DOCTYPE html>
<html>
  <head>
    <title>A1b87f4c8a2fc9d49ddfc6a1922047ebc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo&family=Lato:wght@700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>

  <script >
    document.addEventListener("DOMContentLoaded", () => {

      const queryInputField = document.querySelector('#input')
      const perPageSelector = document.querySelector('#per_page')


      const updateQueryParam = (param, value) => {
        let url = new URL(window.location)
        url.searchParams.has(param) ? url.searchParams.set(param, value) : url.searchParams.append(param, value)
        url.search = url.searchParams
        url = url.toString()
        window.location = url
      }


      perPageSelector.addEventListener('change', (element) => {
        updateQueryParam('per_page', element.target.value)
      })

    })
  </script>
</html>
