<!DOCTYPE html>
<html>
  <head>
    <title>A1b87f4c8a2fc9d49ddfc6a1922047ebc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
